body {
    margin: 0;
    background: #fbfbf9;
  }

h1 {
    padding: 40px;
    background: #4f7942;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
  }

nav {
    background-color: #fbfbf9;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 40px 50px;
    text-decoration: none;
    font-family: Optima LT Pro;
  }

nav a:hover {
    color: #4f7942;
    background-color: #fbfbf9;
  }
  
nav a.active {
    color: #4f7942;
    background-color: #fbfbf9;
  }
  
.left-align {
    display: flex;
    align-items: center;
  }
  
.right-align {
    display: flex;
    align-items: center;
  }

#myVideo {
    width: 100%;
    height: auto;
    border: 0px solid #ccc;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  }
 
hr {
  height: 5px;
  background-color: #4f7942; 
  border: none;
  margin: 20px 0;
}

marquee {
    font-family: Optima LT Pro;
    font-size: 45px;
    font-weight: bold;
    color: #000000;
  }

  #contact-table {
    border: 8px solid #4f7942;
    width: 60%;
    margin: auto;
    font-family: Optima LT Pro;
  }
  
  #contact-table td {
    text-align: center;
    padding: 10px;
  }
  
  #contact-table tr:nth-child(odd) {
    background-color: #E5E4E2;
  }
  
  #contact-table tr:nth-child(even) {
    background-color: #FFFFFF;
  }
  
  #contact-table img {
    display: block;
    margin: auto;
  }
  
  html,
  body {
    margin: 0;
    height: 100%;
    font-family: Cambria, Georgia, serif;
  }

  /*	header	*/
  .topnav {
    background: #4f7942;
  }

  .title {
    padding: 30px;
    font-size: 26px;
    text-align: center;
  }
  /*	header	*/

  .midbox {
    min-height: 50px;
  }

  .banner {
    min-height: 50vh;
    background: linear-gradient(
        0deg,
        rgba(79, 121, 66, 0.8),
        rgba(79, 121, 66, 0.8)
      ),
      url("ASSET/IMAGE/bg_featured_menu.jpg");
    background-size: cover;
  }
  
  .contentbox {
    display: flex;
    min-height: 50vh;
    padding: 0px 20px;
  }

  .contentbox .titlebox {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }

  .titlebox .text1 {
    font-size: 60px;
    color: #ffffff;
    margin: 0px;
    margin-bottom: 20px;
    padding-left: 10%;
  }

  .titlebox .text2 {
    font-size: 60px;
    color: #ffffff;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10%;
  }

  .contentbox .productbox {
    width: 60%;
  }

  /* Slideshow container */
  .mySlides {
    display: none;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 100%;
    user-select: none;
    border: 2px solid #ffffff;
  }

  .next {
    right: 0;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  .imgbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imgbox .col {
    width: 50%;
  }

  .productimg {
    width: 80%;
    margin: auto;
    display: block;
  }

  .arrowIco {
    width: 20px;
  }

  .menu {
    padding: 60px;
  }

  .menutitle {
    font-size: 30px;
    color: #4f7942;
    margin: 0px;
    padding-left: 2%;
  }

  .cardbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
  }

  .cardbox .card {
    border-radius: 6px;
    border: 1px solid #e3e3e3;
    width: 250px;
    min-height: 300px;
    position: relative;
    margin-top: 150px;
  }

  .productimage {
    width: 250px;
    top: 0;
    position: absolute;
    transform: translateY(-130px);
  }

  .cardbox .card p {
    margin: 0;
  }

  .productname {
    text-align: center;
    font-size: 20px;
  }

  .productprice {
    text-align: center;
    font-size: 20px;
    padding-bottom: 40px;
  }

  .drinktype {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-top: 180px;
  }

  .drinktype img {
    width: 23px;
    height: 100%;
  }

  h4 {
    background-color: #4F7942;
    color: white;
  }

  h5 {
    background-color: #4F7942;
    color: white;
    padding: 30px;
  }

  .image2 {
    border: 5px solid #4F7942;
    margin: 10px;
  }

  footer {
    text-align: center;
    padding: 20px;
    background-color: #4f7942;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  p2 {
    font-family: Optima LT Pro;
    font-size: 20px;
  }